
/* MEDIA HEADER */
@media screen and (max-width: 677px) {
  header {
    flex-direction: column;
    background-color: blue;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    list-style: none;
    text-decoration: none;
    margin: 10px;
  }

  header nav ul li a {
    background-color: rgba(28, 102, 239, 0.726);
    color: white;
    transition: 0.5s;
  }

  header .container-fluid h1 {
    font-size: auto;
    font-weight: 300px;
    color: white;
  }
}

// HERO MEDIA QUERIES
@media screen and (max-width: 810px) {
  .hero .img-seccion {
    width: 100%;
    height: 100%;
  }

  .hero .img-family {
    display: none;
  }
}
p {
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgba(77, 77, 227, 0.327); 
  }
  @media screen and (max-width: 400px) {
   .messidiv1 .titulo1 {
    font-size: 30px;
    color: rgb(30, 20, 103);
 
  }
}
.hero .img-seccion img {
    width: 100%;
    height: 100%;
    margin: 0%;

  }


  //SECCION 2 

  @media screen and (max-width: 400px) {
    .second h2 {
    font-size: 30px;
    color: white;
    background-color: $color-secundario
  }
    
  }


//seccion 3

@media screen and (max-width: 600px) {
  .third .div-third img {
    height: 100%;
    width: 100%;
  }
}
.contenedora-de-tablas {
    justify-content: flex-start;
   align-items: flex-start;
  }




//IMG DE BIOGRAFIA DE LEO Y MUNDIAL
@media screen and (max-width: 650px) {
  .imgdiv img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    
  }
}


//PAGINAS SECUNDARIA BAR,PSG,INTER
@media screen and (max-width: 845px) {

.herosecond .divsecond {
  display: flex;
  flex-direction: column;
  background-color: nth($colores , 1);
}
.herosecond .divsecond img {
  width: 340px;
  height: 300px;
}

.herosecond div p {
  background-color: rgba(48, 48, 148, 0.805);
}
}
@media screen and (max-width: 530px) {
  .carrousel-2 .seccion-video{
    width: 100%;
    height: auto;
  }
}


/* GALERÍA MEDIA QUERIES */
@media screen and (max-width: 870px) {
  .grid-galeria {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .grid-galeria {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 590px) {
  .grid-item {
  position: relative;
  overflow:hidden;
  margin: 0%
  
}
  
}

@media screen and (max-width: 600px) {
  .grid-galeria {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 585px) {
  .grid-item {
    width: 100%;
    height: 300px;
  }
}

